.step {
    color: #E0E8F8;
    width: 20px;
    height: 20px;
    font-size: 12px;
    background-color: #B7C8D8;
    ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.step.completed {
    background-color: #E0E8F8;
    ;
    color:#111111;
    ;
}